@model List<Avatar_Challenge.Models.Item>

<table class="table">
    <thead>
        <tr>Name</tr>
        <tr>Price</tr>
        <tr>Serial Name</tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td scope="col">@item?.Name</td>
                <td scope="col">@item?.Price</td>
                <td scope="col">@item?.SerialNumber?.Name</td>
            </tr>

        }


    </tbody>
</table>
